<div class='panel panle-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='row'>
        <div class='col-md-2'> Filter by: </div>
        <div class='col-md-4'>
            <input type='text' 
            [(ngModel)]='listFilter'/>
        </div>
    </div>
    <div class='row'>
            <div class='col-md-6'> <h3>Filtered by:{{listFilter}} </h3> </div>
                       </div>

<div class='table-responsive'>
    <table class='table' *ngIf='flights && flights.length'>
        <thead>
            <tr>
                <th>
<button class="btn btn-primary" (click)='toggleImage()'>
{{showImage ? 'Hide' : 'Show'}}  Status
</button>
                </th>
<th>Flight </th>
<th>Departure</th>
<th>Arrival </th>
<th>Date </th>
<th>Fuel price </th>
<th> 5 Star Safety Rating </th> 
            </tr>
        </thead>
        <tbody>
        <tr *ngFor= 'let flight of filteredflights'>
            <td>
                <img *ngIf='showImage'
                [src]='flight.imageUrl' 
                [title]='flight.status'
                [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
            </td>
            <td>{{flight.flightId}}</td>
            <td>{{flight.departure}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.date}}</td>
            <td>{{flight.fuelCost  | currency:"USD":true:'1.2-2'}}</td>
            <td><pm-star [rating]='flight.safetyRating' (ratingClicked)='onRatingClicked($event)'></pm-star></td>
        </tr>
    </tbody>
    </table>
</div>
</div>




